# Compiled Java classes
WebContent/WEB-INF/classes/

# Local build scripts
compile.bat

# IDE specific files
.project
.classpath
.settings/
.idea/
*.iml
bin/
target/

# System files
Thumbs.db
.DS_Store
